<main class="homepage">
  <h1 class="homepage__title">
    Be much welcome to this game app to play rock paper scissors!
  </h1>
  <section>
    <h2 class="homepage__title">First of all, the rules</h2>
    <p>It's simple, choose from one of the following figures:</p>
    <div class="homepage__game-figures">
      <figure class="homepage__game-figures__figure">
        <img
          class="homepage__game-figures__img"
          src="assets/Rock.png"
          alt="rock figure"
        />
        <figcaption class="homepage__game-figures__caption">Rock</figcaption>
      </figure>
      <figure class="homepage__game-figures__figure">
        <img
          class="homepage__game-figures__img"
          src="assets/Paper.png"
          alt="paper figure"
        />
        <figcaption class="homepage__game-figures__caption">Paper</figcaption>
      </figure>
      <figure class="homepage__game-figures__figure">
        <img
          class="homepage__game-figures__img"
          src="assets/Scissors.png"
          alt="scissors figure"
        />
        <figcaption class="homepage__game-figures__caption">
          Scissors
        </figcaption>
      </figure>
    </div>
    <p>
      Then the computer will respond with other of those figures, determining
      the winner of the game!
    </p>
  </section>
  <section>
    <h2 class="homepage__title">Who wins?</h2>
    <p>
      The winner is based on the selection of both players, according to the
      following table:
    </p>
    <ul>
      <li>Rock wins against scissors</li>
      <li>Scissors wins against paper</li>
      <li>Paper wins against rock</li>
    </ul>
    <p>Choose wisely to defeat our well trained computer!</p>
  </section>
  <a>Let's play!</a>
</main>
