@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";

.homepage {
  @include pad();
  &__title {
    @extend .font-bold;
    font-size: $font-xl;
  }
  &__game-figures {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }
}
