@import "abstracts/mixins";
@import "base/typography";

.statistics {
  @include pad();
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    ul {
      @include pad-left();
      @media screen and (max-width: $breakpoint-tablet) {
        flex: 2;
      }
    }
    ul li {
      @include push();
      @extend .font-bold;
      @extend .font-m;
      display: inline;
      border-radius: 4px;

      a {
        color: $secondary;
        text-decoration: none;
        &:hover:not(.link-active) {
            border-bottom: 2px solid rgba($secondary, 0.5);
          }
      }
    }
  }
}
