<main class="statistics">
  <h1>Come and check worldwide playing statistics</h1>
  <section>
    <game-stat-panel
      display="percent"
      title="Players have won the"
      subtitle="of games against me!"
      [value]="playerWinPercent"
    />
  </section>
  <section>
    <h2>Or check movement by movement how they historically perform</h2>
    <nav class="statistics__nav">
      <ul>
        <li>
          <a routerLink="moveStats/ROCK" routerLinkActive="link-active">
            Rock stat page
          </a>
        </li>
        <li>
          <a routerLink="moveStats/PAPER" routerLinkActive="link-active">
            Paper stats page
          </a>
        </li>
        <li>
          <a routerLink="moveStats/SCISSORS" routerLinkActive="link-active">
            Scissors stats page
          </a>
        </li>
      </ul>
    </nav>
  </section>
</main>
