@import "abstracts/mixins";
@import "components/nav";

.board {
  @include pad();
  display: flex;
  flex-direction: column;
  align-items: center;

  &__game-selector {
    flex-direction: row;
  }

  &__game-results {
    @include pad();
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
