@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";

.header {
  @include pad();

  height: $app-header-height;

  background-color: $primary;
  color: $white;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  &__title {
    @extend .font-xl;
    @media screen and (max-width: $breakpoint-tablet) {
      flex: 1;
    }
  }

  &__nav {
    ul {
      @include pad-left();
      @media screen and (max-width: $breakpoint-tablet) {
        flex: 2;
      }
    }
    ul li {
      @include push();
      @extend .font-bold;
      @extend .font-m;
      display: inline;
      border-radius: 4px;

      a {
        color: $white;
        text-decoration: none;
        &:hover:not(.link-active) {
          border-bottom: 2px solid rgba($white, 0.5);
        }
      }
    }
  }

  section {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.link-active {
  border-bottom: 2px solid $white;
}
