@import "abstracts/mixins";
@import "abstracts/variables";
@import "components/buttons";
@import "base/typography";

.move-picker {
  @include push();
  @include pad(0);
  @extend .button;
  border-radius: 8px;

  &:active {
    background-color: transparent;
  }

  &__img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    @media screen and (max-width: $breakpoint-tablet) {
      width: 100px;
      height: 100px;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &--active {
    border-bottom: 5px solid $secondary;
  }
}
